@page
@model client_desktop.Pages.MyProfile

@{
    Layout = "_LayoutApp";
    string Username = (string) StorageManager.storage.Get("username");
    string Avatar = (string) StorageManager.storage.Get("avatar");
    string Bio = (string) StorageManager.storage.Get("bio");
    string Banner = (string) StorageManager.storage.Get("banner");
    string Color = (string) StorageManager.storage.Get("color");
    string Id = (string) StorageManager.storage.Get("id");
}

<div>
    <h2>My Profile:</h2>

    <p>
        <h4><b>Username:</b> @Username</h4>
    </p>

    <p>
        <h4><b>Bio:</b> @Bio</h4>
    </p>

    <p>
        <h4><b>Avatar:</b> <img src="@Avatar" width="100px" style="border-radius: 50%"></h4>
    </p>

    <p>
        <h4><b>Banner:</b> <img src="@Banner" width="100px"></h4>
    </p>

    <p>
        <h4><b>Color:</b> @Color</h4>
    </p>

    <p>
        <h4><b>Id:</b> @Id</h4>
    </p>
</div>
