@page
@model ProfileModel

@{
    Layout = "_LayoutApp";
    string Username = (string) StorageManager.storage.Get("queryUsername");
    ViewData["Title"] = Username;
    string myUsername = (string) StorageManager.storage.Get("username");
    string Avatar = (string) StorageManager.storage.Get("queryAvatar");
    string Bio = (string) StorageManager.storage.Get("queryBio");
    string Banner = (string) StorageManager.storage.Get("queryBanner");
    string Color = (string) StorageManager.storage.Get("queryColor");
    string Id = (string) StorageManager.storage.Get("queryId");
    dynamic Timeline = (dynamic) StorageManager.storage.Get("queryTimeline");

    Newtonsoft.Json.Linq.JArray friends = (Newtonsoft.Json.Linq.JArray) StorageManager.storage.Get("friends");
    Newtonsoft.Json.Linq.JArray outgoingFriendRequests = (Newtonsoft.Json.Linq.JArray) StorageManager.storage.Get("outgoingFriendRequests");

    bool myProfile = (myUsername == Username) && (Id != "1234");
    bool myFriend = false;
    bool pending = false;

    foreach (string friendId in friends)
    {
      if (friendId == Id)
      {
        myFriend = true;
      }
    }

    foreach (string userId in outgoingFriendRequests)
    {
      if (userId == Id)
      {
        pending = true;
      }
    }
}

<nav class="navbar navvvv" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
     <div class="navbar-item">
    <a class="navbar-item button"  href="/App">
     <i class="fas fa-arrow-left"></i>
    </a>
    </div>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    
    <div class="navbar-start scrooll" id="guilds">
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a id="addaguildbutton" href="/WritePost" class="button is-primary">
            <strong><i class="fas fa-plus-square"></i></strong>
          </a>

          <a id="circles" href="/Circles" class="button">
            <i class="fa-solid fa-circle-nodes"></i>
          </a>

          <a id="profilesearch" href="/Messages" class="button">
             <i class="fa-solid fa-message"></i>
          </a>
          
          <a id="timeline" href="/Inbox" class="button">
            <i class="fas fa-inbox"></i>
          </a>

          <a id="messages" href="/Search" class="button">
            <i class="fa-solid fa-magnifying-glass"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<br>

<div class="container">
    <div class="card">
        <div class="card-image">
            <figure class="image is-fullwidth">
            <img src="@Banner" alt="Placeholder image">
            </figure>
        </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                        <img class="is-rounded" src="@Avatar" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">@Username</p>
                        <p class="subtitle is-6">@Username</p>
                    </div>
                </div>
                <div class="content">
                    @Bio 
                </div>
                <footer class="card-footer">
                  @if (!myProfile)
                  {
                    @if (!myFriend)
                    {
                      @if (pending)
                      {
                        <button class="card-footer-item button is-light">
                          Friend Request Pending
                        </button>
                      }
                      else
                      {
                        <form method="POST">
                          <button type="submit" class="card-footer-item button is-primary" asp-route-data="@Username" asp-page-handler="RequestFriend">
                              Request Friend
                          </button>
                        </form>
                      }
                    }
                    else
                    {
                      <form method="POST">
                          <button type="submit" class="card-footer-item button is-warning" asp-route-data="@Username" asp-page-handler="Unfriend">
                             Unfriend 
                          </button>
                      </form>
                    }
                  }
                </footer>
        </div>
    </div>
</div>
@if (Timeline.Count > 0)
{
  <br>
  <div class="container">
  <h1 class="title">User Posts: </h1>
  <br>
    @foreach (dynamic post in Timeline)
      {
        <div class="card">
          <div class="card-content">
            <div class="media">

              <div class="media-left">
                <figure class="image is-48x48">
                  <img class="is-rounded" src="@post.Useravatar" alt="Avatar">
                </figure>
              </div>

              <div class="media-content">
                  <p class="title is-4">@post.Username</p>
                  <p class="subtitle is-6">
                    <a href="/Profile?username=@post.Username">
                      @post.Username
                    </a>
                  </p>
              </div>

            </div>
            <br>
            @post.Message
          </div>
          <footer class="card-footer">

            <div href="#" class="card-footer-item">
              <form method="POST">
                <button class="button is-link is-light" asp-route-data="up,@post.id" asp-page-handler="Vote"><i class="fa-solid fa-arrow-up"></i>&nbsp;Upvote</button>
              </form>
            </div>

            <div href="#" class="card-footer-item">
              @{ int counter = (int) post.Upvoter.Count - (int) post.Downvoter.Count;}
              @counter
            </div>

            <div href="#" class="card-footer-item">
              <form method="POST">
                <button class="button is-link is-light" asp-route-data="down,@post.id" asp-page-handler="Vote"><i class="fa-solid fa-arrow-down"></i>&nbsp;Downvote</button>
              </form>
            </div>

            @if (myProfile)
            {
              <div href="#" class="card-footer-item">
                <form method="POST">
                  <button class="button is-danger is-light" asp-route-data="@post.id" asp-page-handler="DeletePost"><i class="fa-solid fa-trash-can"></i>&nbsp;Delete Post</button>
                </form>
              </div>
            }
          </footer>
        </div>
        <br>
      }
  </div>
}
